.sumSubButtons {
	-moz-box-shadow: 2px 0px 8px 0px #537a75;
	-webkit-box-shadow: 2px 0px 8px 0px #537a75;
	box-shadow: 2px 0px 8px 0px #537a75;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a6adab), color-stop(1, #ced6d6));
	background:-moz-linear-gradient(top, #a6adab 5%, #ced6d6 100%);
	background:-webkit-linear-gradient(top, #a6adab 5%, #ced6d6 100%);
	background:-o-linear-gradient(top, #a6adab 5%, #ced6d6 100%);
	background:-ms-linear-gradient(top, #a6adab 5%, #ced6d6 100%);
	background:linear-gradient(to bottom, #a6adab 5%, #ced6d6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6adab', endColorstr='#ced6d6',GradientType=0);
	background-color:#a6adab;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #889691;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:2px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #a1aba9;
	margin: 0 2.5px !important;
}
.sumSubButtons:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ced6d6), color-stop(1, #a6adab));
	background:-moz-linear-gradient(top, #ced6d6 5%, #a6adab 100%);
	background:-webkit-linear-gradient(top, #ced6d6 5%, #a6adab 100%);
	background:-o-linear-gradient(top, #ced6d6 5%, #a6adab 100%);
	background:-ms-linear-gradient(top, #ced6d6 5%, #a6adab 100%);
	background:linear-gradient(to bottom, #ced6d6 5%, #a6adab 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ced6d6', endColorstr='#a6adab',GradientType=0);
	background-color:#ced6d6;
}
.sumSubButtons:active {
	position:relative;
	top:1px;
}